body {
    text-align: center;
    font-family: Arial, sans-serif;
}

#searchBox {
    width: 50%;
    padding: 10px;
    margin-top: 50px;
    font-size: 16px;
}

#suggestions {
    display: none; /* Hide by default */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    margin-top: 2px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 4px;
    z-index: 1000; /* Make sure it's above other elements */
}

#suggestions li {
    list-style-type: none;
    padding: 8px 12px;
    cursor: pointer;
    margin: 0;
}

#suggestions li:hover {
    background-color: #f0f0f0;
    font-weight: bold;
}

#contentDisplay {
    text-align: left;
    margin-top: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
